@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DulkyBook</h1>
    <p>Learn English with DulkyBook</p>
    <a asp-controller="Dictionary" asp-action="Index">Let's get started</a>
</div>
